html, body{
    height: 100%;
}
body{
    background-color: gray;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial;
    color: white;
}


header{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    justify-content: top;
    text-align: center;
    margin: auto;
    margin-top: 0px;
}

#score{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    height: 90px;
    margin: 0px;
    background-color: black;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#x{
    margin: auto;

}
#user{
    color: black;
    margin: 5px;
    background-color: gray;
    width: 30%;
    border-radius: 30px;
    justify-content: left;
    margin: auto;
}
#local{
    color: black;
    margin: 5px;
    background-color: gray;
    width: 30%;
    border-radius: 30px;
    justify-content: center;
    margin: auto;
}


section{
    position: relative;
    justify-content: center;
    font: normal 70px Arial;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
}
input{
    width: 130px;
    height: 130px;
    font-size: 80px;
    background-color: black;
    border: hidden;
    border-radius: 20px;
    margin: 5px;  
}
input:hover{
    background-color: rgb(63, 0, 0);
}

#res{
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: transparent;
    font-size: 50px;
    height: 140px;
}

#divres{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin: auto;
    background-color: transparent;
    font-size: 50px;
    text-align: center;
}